/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.page-template-template-home-php .page-header { display:none; }


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f3f7ff;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  margin: 50px 0 0 0;
  padding: 120px 0 20px 0;
  background: #00344d;
  border-top: 5px solid #5a0912;
}

.content-info p {
  color: #ccc;
}

.footer-logo { margin: 0 150px 0 0;}
.footer-address { margin: 20px 0; }
.footer-address p { font-size: 14px; }
.footer-address a {color: #ccc;}
.footer-phone { font-weight: bold; font-size: 40px; color: #fff; }
.footer-fax { font-weight:bold; font-size: 28px; color: #ccc; }
.footer-description { font-size:11px; color: #aaa; }

.content-info .copyright p { color: #aaa; font-size: 12px; }
.content-info .copyright { padding: 50px 0 10px 0; }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
